*{
    padding: 0;
    margin: 0;
}
#main{
    background-image: url('only sale1.jpg');
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main3{
    transition: width 1s height 1s transform 1s;
}
.main3:hover{
    transform: scale(1.2,1.2);
}
.plan{
    transition:all 0.5s ease;
}
.plan:hover{
    transform: scale(1.2,1.2);
}
.plan1{
    transition: all 0.5s ease;;
}
.plan1:hover{
    transform: scale(1.2,1.2);
}
.plan2{
    transition:  all 0.5s ease;;
}
.plan2:hover{
    transform: scale(1.2,1.2);
}
.plan3{
    transition:  all 0.5s ease;;
}
.plan3:hover{
    transform: scale(1.2,1.2);
}
.plan4{
    transition:  all 0.5s ease;;
}
.plan4:hover{
    transform: scale(1.2,1.2);
}
#banner{
    background-image: url('only sale17.jpg');
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
